@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    margin: 0;
    display: flex;
    min-height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', Arial, sans-serif;
}

div.wrapper {
    text-align: center;
}